VITE_APPWRITE_URL="https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="your appwrite project id"
VITE_APPWRITE_DATABASE_ID="your appwrite database id"
VITE_APPWRITE_ARTICLE_COLLECTION_ID="your appwrite article collection id"
VITE_APPWRITE_USER_COLLECTION_ID="your appwrite user collection id"
VITE_APPWRITE_ARTICLE_BUCKET_ID="your appwrite article bucket id"
VITE_APPWRITE_USER_BUCKET_ID="your appwrite user bucket id"
VITE_APPWRITE_GALLERY_COLLECTION_ID="your appwrite gallery collection id"
VITE_APPWRITE_EMAIL_COLLECTION_ID="your appwrite email collection id"
VITE_TINY_MCE_KEY="your tiny mce key"