/* @import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "EurostileExtendedBold";
    src: url("/fonts/EurostileExtendedBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.eurostile-font {
    font-family: "EurostileExtendedBold", sans-serif;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 1px;
}

@theme {
    --font-jura: "Monda", sans-serif;
}

.title-container {
    @apply flex flex-col gap-2 items-center my-12;
}

.title-main {
    @apply text-6xl font-semibold;
}

.subtitle-main {
    @apply text-2xl font-medium;
}

.full-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.swiper-pagination-bullet {
    background-color: white !important;
}

.swiper-button-prev {
    color: white !important;
}

.swiper-button-next {
    color: white !important;
}
